vive/7-ServiciosEBS/ProcesosBPM/CotizacionesBPM.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="CotizacionesBPM">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/CotizacionesBPM.xsd"/>
    </xsd:schema>
  </types>
  <message name="procesoCotizaciones">
    <part name="parameters" element="tns:procesoCotizaciones"/>
  </message>
  <message name="procesoCotizacionesResponse">
    <part name="parameters" element="tns:procesoCotizacionesResponse"/>
  </message>
  <message name="ImocomWebserviceException">
    <part name="fault" element="tns:ImocomWebFault"/>
  </message>
  <message name="actualizacionCotizaciones">
    <part name="parameters" element="tns:actualizacionCotizaciones"/>
  </message>
  <message name="actualizacionCotizacionesResponse">
    <part name="parameters" element="tns:actualizacionCotizacionesResponse"/>
  </message>
  <portType name="ICotizacionesBPM">
    <operation name="procesoCotizaciones">
      <input message="tns:procesoCotizaciones"/>
      <output message="tns:procesoCotizacionesResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="actualizacionCotizaciones">
      <input message="tns:actualizacionCotizaciones"/>
      <output message="tns:actualizacionCotizacionesResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
  </portType>
  <binding name="CotizacionesBPMServicePortBinding" type="tns:ICotizacionesBPM">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <operation name="procesoCotizaciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizacionCotizaciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CotizacionesBPM">
    <port name="CotizacionesBPMServicePort"
          binding="tns:CotizacionesBPMServicePortBinding">
      <soap:address location="CotizacionesBPM.wsdl"/>
    </port>
  </service>
</definitions>