vive/7-ServiciosEBS/ProcesosBPM/OportunidadesBPM.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="OportunidadesBPM">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/OportunidadesBPM.xsd"/>
    </xsd:schema>
  </types>
  <message name="procesoOportunidades">
    <part name="parameters" element="tns:procesoOportunidades"/>
  </message>
  <message name="procesoOportunidadesResponse">
    <part name="parameters" element="tns:procesoOportunidadesResponse"/>
  </message>
  <message name="ImocomWebserviceException">
    <part name="fault" element="tns:ImocomWebFault"/>
  </message>
  <message name="procesoActualizacionOportunidades">
    <part name="parameters" element="tns:procesoActualizacionOportunidades"/>
  </message>
  <message name="procesoActualizacionOportunidadesResponse">
    <part name="parameters"
          element="tns:procesoActualizacionOportunidadesResponse"/>
  </message>
  <message name="cargueOportunidades">
    <part name="parameters" element="tns:cargueOportunidades"/>
  </message>
  <message name="cargueOportunidadesResponse">
    <part name="parameters" element="tns:cargueOportunidadesResponse"/>
  </message>
  <message name="procesoActualizacionOportunidadeProducto">
	<part name="parameters" element="tns:procesoActualizacionOportunidadeProducto"/>
  </message>
  <message name="procesoActualizacionOportunidadeProductoResponse">
	<part name="parameters" element="tns:procesoActualizacionOportunidadeProductoResponse"/>
  </message>
  <portType name="IOportunidadesBPM">
    <operation name="procesoOportunidades">
      <input message="tns:procesoOportunidades"/>
      <output message="tns:procesoOportunidadesResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="procesoActualizacionOportunidades">
      <input message="tns:procesoActualizacionOportunidades"/>
      <output message="tns:procesoActualizacionOportunidadesResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="cargueOportunidades">
      <input message="tns:cargueOportunidades"/>
      <output message="tns:cargueOportunidadesResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
	<operation name="procesoActualizacionOportunidadeProducto">
		<input message="tns:procesoActualizacionOportunidadeProducto"/>
		<output message="tns:procesoActualizacionOportunidadeProductoResponse"/>
		<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
	</operation>
  </portType>
  <binding name="OportunidadesBPMServicePortBinding"
           type="tns:IOportunidadesBPM">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <operation name="procesoOportunidades">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="procesoActualizacionOportunidades">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="cargueOportunidades">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
	<operation name="procesoActualizacionOportunidadeProducto">
		<soap:operation soapAction=""/>
		<input>
			<soap:body use="literal"/>
		</input>
		<output>
			<soap:body use="literal"/>
		</output>
		<fault name="ImocomWebserviceException">
			<soap:fault name="ImocomWebserviceException" use="literal"/>
		</fault>
	</operation>
  </binding>
  <service name="OportunidadesBPM">
    <port name="OportunidadesBPMServicePort"
          binding="tns:OportunidadesBPMServicePortBinding">
      <soap:address location="OportunidadesBPM.wsdl"/>
    </port>
  </service>
</definitions>