vive/7-ServiciosEBS/ProcesosBPM/ProcesosBPM.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="ProcesosBPM">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/ProcesosBPM.xsd"/>
    </xsd:schema>
  </types>
  <message name="procesoResultadoVisita">
    <part name="parameters" element="tns:procesoResultadoVisita"/>
  </message>
  <message name="procesoResultadoVisitaResponse">
    <part name="parameters" element="tns:procesoResultadoVisitaResponse"/>
  </message>
  <message name="ImocomWebserviceException">
    <part name="fault" element="tns:ImocomWebFault"/>
  </message>
  <message name="actualizacionCliente">
    <part name="parameters" element="tns:actualizacionCliente"/>
  </message>
  <message name="actualizacionClienteResponse">
    <part name="parameters" element="tns:actualizacionClienteResponse"/>
  </message>
  <portType name="IProcesosBPM">
    <operation name="procesoResultadoVisita">
      <input message="tns:procesoResultadoVisita"/>
      <output message="tns:procesoResultadoVisitaResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="actualizacionCliente">
      <input message="tns:actualizacionCliente"/>
      <output message="tns:actualizacionClienteResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
  </portType>
  <binding name="ProcesosBPMServicePortBinding" type="tns:IProcesosBPM">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <operation name="procesoResultadoVisita">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="actualizacionCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ProcesosBPM">
    <port name="ProcesosBPMServicePort"
          binding="tns:ProcesosBPMServicePortBinding">
      <soap:address location="ProcesosBPM.wsdl"/>
    </port>
  </service>
</definitions>