vive/7-ServiciosEBS/ProcesosBPM/xsd/OportunidadesBPM.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/">

<xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>

<xs:element name="OportunidadesBPMResponseVO" type="tns:OportunidadesBPMResponseVO"/>

<xs:element name="cargueOportunidades" type="tns:cargueOportunidades"/>

<xs:element name="cargueOportunidadesResponse" type="tns:cargueOportunidadesResponse"/>

<xs:element name="oportunidadesBPM" type="tns:OportunidadBPMVO"/>

<xs:element name="procesoActualizacionOportunidadeProducto" type="tns:procesoActualizacionOportunidadeProducto"/>

<xs:element name="procesoActualizacionOportunidadeProductoResponse" type="tns:procesoActualizacionOportunidadeProductoResponse"/>

<xs:element name="procesoActualizacionOportunidades" type="tns:procesoActualizacionOportunidades"/>

<xs:element name="procesoActualizacionOportunidadesResponse" type="tns:procesoActualizacionOportunidadesResponse"/>

<xs:element name="procesoOportunidades" type="tns:procesoOportunidades"/>

<xs:element name="procesoOportunidadesResponse" type="tns:procesoOportunidadesResponse"/>

<xs:element name="producto" type="tns:ProductoVO"/>

<xs:complexType name="procesoActualizacionOportunidadeProducto">
<xs:sequence>
<xs:element name="request" type="tns:OportunidadBPMVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OportunidadBPMVO">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombreOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="idUsuarioModificador" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="nombreTipoOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="idIncoterm" type="xs:string" minOccurs="0"/>
<xs:element name="nombreIncoterm" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoMoneda" type="xs:string" minOccurs="0"/>
<xs:element name="idCanalEntrada" type="xs:string" minOccurs="0"/>
<xs:element name="probabilidadProyecto" type="xs:string" minOccurs="0"/>
<xs:element name="probabilidadImocom" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
<xs:element name="oportunidadProducto" type="tns:ProductoVO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="monto" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaEstimadaCierre" type="xs:string" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:string" minOccurs="0"/>
<xs:element name="idEtapaOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="idEstadoOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="idArchivo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreArchivo" type="xs:string" minOccurs="0"/>
<xs:element name="motivoCierre" type="xs:string" minOccurs="0"/>
<xs:element name="idOportunidad" type="xs:string" minOccurs="0"/>
<xs:element name="fisrtProducto" type="tns:ProductoVO" minOccurs="0"/>
<xs:element name="respuestaCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="linea" type="xs:string" minOccurs="0"/>
<xs:element name="idArchivoPedido" type="xs:string" minOccurs="0"/>
<xs:element name="nombreArchivoPedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProductoVO">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="division" type="xs:string" minOccurs="0"/>
<xs:element name="linea" type="xs:string" minOccurs="0"/>
<xs:element name="tecnologia" type="xs:string" minOccurs="0"/>
<xs:element name="familia" type="xs:string" minOccurs="0"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="precioLista" type="xs:string" minOccurs="0"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
<xs:element name="valorUnitario" type="xs:string" minOccurs="0"/>
<xs:element name="bodega" type="xs:string" minOccurs="0"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
<xs:element name="precioListaSinFormato" type="xs:string" minOccurs="0"/>
<xs:element name="linkCaracteristicas" type="xs:string" minOccurs="0"/>
<xs:element name="linkAccesorios" type="xs:string" minOccurs="0"/>
<xs:element name="linkVideo" type="xs:string" minOccurs="0"/>
<xs:element name="linkImg" type="xs:string" minOccurs="0"/>
<xs:element name="organizationId" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="asesor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoActualizacionOportunidadeProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:OportunidadesBPMResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OportunidadesBPMResponseVO">
<xs:sequence>
<xs:element name="resultadoOperacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImocomWebFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:string" minOccurs="0"/>
<xs:element name="faultString" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoOportunidades">
<xs:sequence>
<xs:element name="request" type="tns:OportunidadBPMVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoOportunidadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:OportunidadesBPMResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargueOportunidades">
<xs:sequence>
<xs:element name="request" type="tns:OportunidadBPMVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargueOportunidadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:OportunidadesBPMResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoActualizacionOportunidades">
<xs:sequence>
<xs:element name="request" type="tns:OportunidadBPMVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesoActualizacionOportunidadesResponse">
<xs:sequence>
<xs:element name="return" type="tns:OportunidadesBPMResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>