vive/7-ServiciosEBS/Clientes/ClientesEBS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/" name="ClientesEBS">
<types>
<xsd:schema>
<xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/" schemaLocation="xsd/ClientesEBS.xsd"/>
</xsd:schema>
</types>
<message name="consultaClienteNit">
<part name="parameters" element="tns:consultaClienteNit"/>
</message>
<message name="consultaClienteNitResponse">
<part name="parameters" element="tns:consultaClienteNitResponse"/>
</message>
<message name="ImocomWebserviceException">
<part name="fault" element="tns:ImocomWebFault"/>
</message>
<message name="detalleClienteNit">
<part name="parameters" element="tns:detalleClienteNit"/>
</message>
<message name="detalleClienteNitResponse">
<part name="parameters" element="tns:detalleClienteNitResponse"/>
</message>
<message name="consultarContactosPorCliente">
<part name="parameters" element="tns:consultarContactosPorCliente"/>
</message>
<message name="consultarContactosPorClienteResponse">
<part name="parameters" element="tns:consultarContactosPorClienteResponse"/>
</message>
<message name="geoConsulta">
<part name="parameters" element="tns:geoConsulta"/>
</message>
<message name="geoConsultaResponse">
<part name="parameters" element="tns:geoConsultaResponse"/>
</message>
<message name="pruebaEliminar">
<part name="parameters" element="tns:pruebaEliminar"/>
</message>
<message name="pruebaEliminarResponse">
<part name="parameters" element="tns:pruebaEliminarResponse"/>
</message>
<message name="buscarProductoTest">
<part name="parameters" element="tns:buscarProductoTest"/>
</message>
<message name="buscarProductoTestResponse">
<part name="parameters" element="tns:buscarProductoTestResponse"/>
</message>
<portType name="IClientesEBS">
<operation name="consultaClienteNit">
<input message="tns:consultaClienteNit"/>
<output message="tns:consultaClienteNitResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
<operation name="detalleClienteNit">
<input message="tns:detalleClienteNit"/>
<output message="tns:detalleClienteNitResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
<operation name="consultarContactosPorCliente">
<input message="tns:consultarContactosPorCliente"/>
<output message="tns:consultarContactosPorClienteResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
<operation name="geoConsulta">
<input message="tns:geoConsulta"/>
<output message="tns:geoConsultaResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
<operation name="pruebaEliminar">
<input message="tns:pruebaEliminar"/>
<output message="tns:pruebaEliminarResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
<operation name="buscarProductoTest">
<input message="tns:buscarProductoTest"/>
<output message="tns:buscarProductoTestResponse"/>
<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
</operation>
</portType>
<binding name="ClientesEBSServicePortBinding" type="tns:IClientesEBS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultaClienteNit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
<operation name="detalleClienteNit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
<operation name="consultarContactosPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
<operation name="geoConsulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
<operation name="pruebaEliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
<operation name="buscarProductoTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImocomWebserviceException">
<soap:fault name="ImocomWebserviceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClientesEBS">
<port name="ClientesEBSServicePort" binding="tns:ClientesEBSServicePortBinding">
<soap:address location="ClientesEBS.wsdl"/>
</port>
</service>
</definitions>