vive/7-ServiciosEBS/Productos/ProductosEBS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions
     name="ProductosEBS"
     targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <!--<documentation>
        <abstractWSDL>http://192.168.0.33:8001/soa-infra/services/default/Productos!1.6.7/ProductosEBS.wsdl</abstractWSDL>
    </documentation>-->
    <types>
        <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/ProductosEBS.xsd"/>
    </xsd:schema>
    </types>
    <message name="consultaInventario">
        <part name="parameters" element="tns:consultaInventario"/>
    </message>
    <message name="consultaInventarioResponse">
        <part name="parameters" element="tns:consultaInventarioResponse"/>
    </message>
    <message name="ImocomWebserviceException">
        <part name="fault" element="tns:ImocomWebFault"/>
    </message>
    <message name="consultaInventarioAutomatica">
        <part name="parameters" element="tns:consultaInventarioAutomatica"/>
    </message>
    <message name="consultaInventarioAutomaticaResponse">
        <part name="parameters" element="tns:consultaInventarioAutomaticaResponse"/>
    </message>
    <message name="consultarProducto">
        <part name="parameters" element="tns:consultarProducto"/>
    </message>
    <message name="consultarProductoResponse">
        <part name="parameters" element="tns:consultarProductoResponse"/>
    </message>
    <message name="detalleProducto">
        <part name="parameters" element="tns:detalleProducto"/>
    </message>
    <message name="detalleProductoResponse">
        <part name="parameters" element="tns:detalleProductoResponse"/>
    </message>
    <message name="productosVendidos">
        <part name="parameters" element="tns:productosVendidos"/>
    </message>
    <message name="productosVendidosResponse">
        <part name="parameters" element="tns:productosVendidosResponse"/>
    </message>
    <message name="productosPendientesPorFacturar">
        <part name="parameters" element="tns:productosPendientesPorFacturar"/>
    </message>
    <message name="productosPendientesPorFacturarResponse">
        <part name="parameters" element="tns:productosPendientesPorFacturarResponse"/>
    </message>
    <message name="getMarcasPorLinea">
        <part name="parameters" element="tns:getMarcasPorLinea"/>
    </message>
    <message name="getMarcasPorLineaResponse">
        <part name="parameters" element="tns:getMarcasPorLineaResponse"/>
    </message>
    <message name="getModelPorMarca">
        <part name="parameters" element="tns:getModelPorMarca"/>
    </message>
    <message name="getModelPorMarcaResponse">
        <part name="parameters" element="tns:getModelPorMarcaResponse"/>
    </message>
    <message name="consultaInventarioSinBodegas">
        <part name="parameters" element="tns:consultaInventarioSinBodegas"/>
    </message>
    <message name="consultaInventarioSinBodegasResponse">
        <part name="parameters" element="tns:consultaInventarioSinBodegasResponse"/>
    </message>
    <message name="productoCotizableAutomaticamente">
        <part name="parameters" element="tns:productoCotizableAutomaticamente"/>
    </message>
    <message name="productoCotizableAutomaticamenteResponse">
        <part name="parameters" element="tns:productoCotizableAutomaticamenteResponse"/>
    </message>
    <portType name="IProductosEBS">
        <operation name="consultaInventario">
            <input message="tns:consultaInventario"/>
            <output message="tns:consultaInventarioResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="consultaInventarioAutomatica">
            <input message="tns:consultaInventarioAutomatica"/>
            <output message="tns:consultaInventarioAutomaticaResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="consultarProducto">
            <input message="tns:consultarProducto"/>
            <output message="tns:consultarProductoResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="detalleProducto">
            <input message="tns:detalleProducto"/>
            <output message="tns:detalleProductoResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="productosVendidos">
            <input message="tns:productosVendidos"/>
            <output message="tns:productosVendidosResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="productosPendientesPorFacturar">
            <input message="tns:productosPendientesPorFacturar"/>
            <output message="tns:productosPendientesPorFacturarResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="getMarcasPorLinea">
            <input message="tns:getMarcasPorLinea"/>
            <output message="tns:getMarcasPorLineaResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="getModelPorMarca">
            <input message="tns:getModelPorMarca"/>
            <output message="tns:getModelPorMarcaResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="consultaInventarioSinBodegas">
            <input message="tns:consultaInventarioSinBodegas"/>
            <output message="tns:consultaInventarioSinBodegasResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
        <operation name="productoCotizableAutomaticamente">
            <input message="tns:productoCotizableAutomaticamente"/>
            <output message="tns:productoCotizableAutomaticamenteResponse"/>
            <fault name="ImocomWebserviceException" message="tns:ImocomWebserviceException"/>
        </operation>
    </portType>
    <binding name="ProductosEBSServicePortBinding" type="tns:IProductosEBS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="consultaInventario">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="consultaInventarioAutomatica">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="consultarProducto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="detalleProducto">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="productosVendidos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="productosPendientesPorFacturar">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getMarcasPorLinea">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getModelPorMarca">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="consultaInventarioSinBodegas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
        <operation name="productoCotizableAutomaticamente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ImocomWebserviceException">
                <soap:fault name="ImocomWebserviceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ConsultaProductosEBSWS">
        <port name="IProductosEBS_pt" binding="tns:ProductosEBSServicePortBinding">
            <soap:address location="http://192.168.0.33:7001/ServiciosEBS/ProductosEBS"/>
        </port>
    </service>
</definitions>
