vive/7-ServiciosEBS/Productos/xsd/ConsultaProductosByLeadIDAdapter.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultaProductosByLeadIDAdapter" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultaProductosByLeadIDAdapter" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultaProductosByLeadIDAdapterInput" type="ConsultaProductosByLeadIDAdapterInput"/>
   <xs:complexType name="ConsultaProductosByLeadIDAdapterInput">
      <xs:sequence>
         <xs:element name="v_lead_id" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultaProductosByLeadIDAdapterOutputCollection" type="ConsultaProductosByLeadIDAdapterOutputCollection"/>
   <xs:complexType name="ConsultaProductosByLeadIDAdapterOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultaProductosByLeadIDAdapterOutput" type="ConsultaProductosByLeadIDAdapterOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultaProductosByLeadIDAdapterOutput">
      <xs:sequence>
         <xs:element name="INVENTORY_ITEM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ORGANIZATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="LAST_UPDATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="CREATION_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="CREATED_BY" type="xs:decimal" nillable="true"/>
         <xs:element name="LAST_UPDATE_LOGIN" type="xs:decimal" nillable="true"/>
         <xs:element name="SUMMARY_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="START_DATE_ACTIVE" type="xs:dateTime" nillable="true"/>
         <xs:element name="END_DATE_ACTIVE" type="xs:dateTime" nillable="true"/>
         <xs:element name="DESCRIPTION" type="xs:string" nillable="true"/>
         <xs:element name="BUYER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCOUNTING_RULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INVOICING_RULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SEGMENT1" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT2" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT3" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT4" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT5" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT6" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT7" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT8" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT9" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT10" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT11" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT12" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT13" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT14" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT15" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT16" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT17" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT18" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT19" type="xs:string" nillable="true"/>
         <xs:element name="SEGMENT20" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE_CATEGORY" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="PURCHASING_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SHIPPABLE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="CUSTOMER_ORDER_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INTERNAL_ORDER_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SERVICE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INVENTORY_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ENG_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INVENTORY_ASSET_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PURCHASING_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="CUSTOMER_ORDER_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INTERNAL_ORDER_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SO_TRANSACTIONS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MTL_TRANSACTIONS_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="STOCK_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="BOM_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="BUILD_IN_WIP_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="REVISION_QTY_CONTROL_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="ITEM_CATALOG_GROUP_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CATALOG_STATUS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="RETURNABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="DEFAULT_SHIPPING_ORG" type="xs:decimal" nillable="true"/>
         <xs:element name="COLLATERAL_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="TAXABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="QTY_RCV_EXCEPTION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="ALLOW_ITEM_DESC_UPDATE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INSPECTION_REQUIRED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="RECEIPT_REQUIRED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MARKET_PRICE" type="xs:decimal" nillable="true"/>
         <xs:element name="HAZARD_CLASS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="RFQ_REQUIRED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="QTY_RCV_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="LIST_PRICE_PER_UNIT" type="xs:decimal" nillable="true"/>
         <xs:element name="UN_NUMBER_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PRICE_TOLERANCE_PERCENT" type="xs:decimal" nillable="true"/>
         <xs:element name="ASSET_CATEGORY_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ROUNDING_FACTOR" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_OF_ISSUE" type="xs:string" nillable="true"/>
         <xs:element name="ENFORCE_SHIP_TO_LOCATION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="ALLOW_SUBSTITUTE_RECEIPTS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ALLOW_UNORDERED_RECEIPTS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ALLOW_EXPRESS_DELIVERY_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="DAYS_EARLY_RECEIPT_ALLOWED" type="xs:decimal" nillable="true"/>
         <xs:element name="DAYS_LATE_RECEIPT_ALLOWED" type="xs:decimal" nillable="true"/>
         <xs:element name="RECEIPT_DAYS_EXCEPTION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="RECEIVING_ROUTING_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INVOICE_CLOSE_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="RECEIVE_CLOSE_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="AUTO_LOT_ALPHA_PREFIX" type="xs:string" nillable="true"/>
         <xs:element name="START_AUTO_LOT_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="LOT_CONTROL_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="SHELF_LIFE_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="SHELF_LIFE_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="SERIAL_NUMBER_CONTROL_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="START_AUTO_SERIAL_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="AUTO_SERIAL_ALPHA_PREFIX" type="xs:string" nillable="true"/>
         <xs:element name="SOURCE_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="SOURCE_ORGANIZATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SOURCE_SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="EXPENSE_ACCOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="ENCUMBRANCE_ACCOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="RESTRICT_SUBINVENTORIES_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_WEIGHT" type="xs:decimal" nillable="true"/>
         <xs:element name="WEIGHT_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="VOLUME_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="UNIT_VOLUME" type="xs:decimal" nillable="true"/>
         <xs:element name="RESTRICT_LOCATORS_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="LOCATION_CONTROL_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="SHRINKAGE_RATE" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCEPTABLE_EARLY_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="PLANNING_TIME_FENCE_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="DEMAND_TIME_FENCE_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="LEAD_TIME_LOT_SIZE" type="xs:decimal" nillable="true"/>
         <xs:element name="STD_LOT_SIZE" type="xs:decimal" nillable="true"/>
         <xs:element name="CUM_MANUFACTURING_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="OVERRUN_PERCENTAGE" type="xs:decimal" nillable="true"/>
         <xs:element name="MRP_CALCULATE_ATP_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ACCEPTABLE_RATE_INCREASE" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCEPTABLE_RATE_DECREASE" type="xs:decimal" nillable="true"/>
         <xs:element name="CUMULATIVE_TOTAL_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="PLANNING_TIME_FENCE_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="DEMAND_TIME_FENCE_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="END_ASSEMBLY_PEGGING_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="REPETITIVE_PLANNING_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PLANNING_EXCEPTION_SET" type="xs:string" nillable="true"/>
         <xs:element name="BOM_ITEM_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="PICK_COMPONENTS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="REPLENISH_TO_ORDER_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="BASE_ITEM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ATP_COMPONENTS_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ATP_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="FIXED_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="VARIABLE_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_SUPPLY_LOCATOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_SUPPLY_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="WIP_SUPPLY_SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="PRIMARY_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="PRIMARY_UNIT_OF_MEASURE" type="xs:string" nillable="true"/>
         <xs:element name="ALLOWED_UNITS_LOOKUP_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="COST_OF_SALES_ACCOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="SALES_ACCOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="DEFAULT_INCLUDE_IN_ROLLUP_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="INVENTORY_ITEM_STATUS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INVENTORY_PLANNING_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="PLANNER_CODE" type="xs:string" nillable="true"/>
         <xs:element name="PLANNING_MAKE_BUY_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="FIXED_LOT_MULTIPLIER" type="xs:decimal" nillable="true"/>
         <xs:element name="ROUNDING_CONTROL_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="CARRYING_COST" type="xs:decimal" nillable="true"/>
         <xs:element name="POSTPROCESSING_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="PREPROCESSING_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="FULL_LEAD_TIME" type="xs:decimal" nillable="true"/>
         <xs:element name="ORDER_COST" type="xs:decimal" nillable="true"/>
         <xs:element name="MRP_SAFETY_STOCK_PERCENT" type="xs:decimal" nillable="true"/>
         <xs:element name="MRP_SAFETY_STOCK_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="MIN_MINMAX_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="MAX_MINMAX_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="MINIMUM_ORDER_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="FIXED_ORDER_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="FIXED_DAYS_SUPPLY" type="xs:decimal" nillable="true"/>
         <xs:element name="MAXIMUM_ORDER_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="ATP_RULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PICKING_RULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="RESERVABLE_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="POSITIVE_MEASUREMENT_ERROR" type="xs:decimal" nillable="true"/>
         <xs:element name="NEGATIVE_MEASUREMENT_ERROR" type="xs:decimal" nillable="true"/>
         <xs:element name="ENGINEERING_ECN_CODE" type="xs:string" nillable="true"/>
         <xs:element name="ENGINEERING_ITEM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ENGINEERING_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="SERVICE_STARTING_DELAY" type="xs:decimal" nillable="true"/>
         <xs:element name="VENDOR_WARRANTY_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SERVICEABLE_COMPONENT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SERVICEABLE_PRODUCT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="BASE_WARRANTY_SERVICE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PAYMENT_TERMS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PREVENTIVE_MAINTENANCE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PRIMARY_SPECIALIST_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SECONDARY_SPECIALIST_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SERVICEABLE_ITEM_CLASS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TIME_BILLABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MATERIAL_BILLABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="EXPENSE_BILLABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PRORATE_SERVICE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="COVERAGE_SCHEDULE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SERVICE_DURATION_PERIOD_CODE" type="xs:string" nillable="true"/>
         <xs:element name="SERVICE_DURATION" type="xs:decimal" nillable="true"/>
         <xs:element name="WARRANTY_VENDOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="MAX_WARRANTY_AMOUNT" type="xs:decimal" nillable="true"/>
         <xs:element name="RESPONSE_TIME_PERIOD_CODE" type="xs:string" nillable="true"/>
         <xs:element name="RESPONSE_TIME_VALUE" type="xs:decimal" nillable="true"/>
         <xs:element name="NEW_REVISION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INVOICEABLE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="TAX_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INVOICE_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MUST_USE_APPROVED_VENDOR_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="REQUEST_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_APPLICATION_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAM_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="OUTSIDE_OPERATION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="OUTSIDE_OPERATION_UOM_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="SAFETY_STOCK_BUCKET_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="AUTO_REDUCE_MPS" type="xs:decimal" nillable="true"/>
         <xs:element name="COSTING_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="AUTO_CREATED_CONFIG_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="CYCLE_COUNT_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ITEM_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="MODEL_CONFIG_CLAUSE_NAME" type="xs:string" nillable="true"/>
         <xs:element name="SHIP_MODEL_COMPLETE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MRP_PLANNING_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="RETURN_INSPECTION_REQUIREMENT" type="xs:decimal" nillable="true"/>
         <xs:element name="ATO_FORECAST_CONTROL" type="xs:decimal" nillable="true"/>
         <xs:element name="RELEASE_TIME_FENCE_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="RELEASE_TIME_FENCE_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="CONTAINER_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="VEHICLE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MAXIMUM_LOAD_WEIGHT" type="xs:decimal" nillable="true"/>
         <xs:element name="MINIMUM_FILL_PERCENT" type="xs:decimal" nillable="true"/>
         <xs:element name="CONTAINER_TYPE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="INTERNAL_VOLUME" type="xs:decimal" nillable="true"/>
         <xs:element name="WH_UPDATE_DATE" type="xs:dateTime" nillable="true"/>
         <xs:element name="PRODUCT_FAMILY_ITEM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE_CATEGORY" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE1" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE2" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE3" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE4" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE5" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE6" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE7" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE8" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE9" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE10" type="xs:string" nillable="true"/>
         <xs:element name="PURCHASING_TAX_CODE" type="xs:string" nillable="true"/>
         <xs:element name="OVERCOMPLETION_TOLERANCE_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="OVERCOMPLETION_TOLERANCE_VALUE" type="xs:decimal" nillable="true"/>
         <xs:element name="EFFECTIVITY_CONTROL" type="xs:decimal" nillable="true"/>
         <xs:element name="CHECK_SHORTAGES_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="OVER_SHIPMENT_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="UNDER_SHIPMENT_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="OVER_RETURN_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="UNDER_RETURN_TOLERANCE" type="xs:decimal" nillable="true"/>
         <xs:element name="EQUIPMENT_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="RECOVERED_PART_DISP_CODE" type="xs:string" nillable="true"/>
         <xs:element name="DEFECT_TRACKING_ON_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="USAGE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="EVENT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ELECTRONIC_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="DOWNLOADABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="VOL_DISCOUNT_EXEMPT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="COUPON_EXEMPT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="COMMS_NL_TRACKABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ASSET_CREATION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="COMMS_ACTIVATION_REQD_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="ORDERABLE_ON_WEB_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="BACK_ORDERABLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="WEB_STATUS" type="xs:string" nillable="true"/>
         <xs:element name="INDIVISIBLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="DIMENSION_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="UNIT_LENGTH" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_WIDTH" type="xs:decimal" nillable="true"/>
         <xs:element name="UNIT_HEIGHT" type="xs:decimal" nillable="true"/>
         <xs:element name="BULK_PICKED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="LOT_STATUS_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="DEFAULT_LOT_STATUS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="SERIAL_STATUS_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="DEFAULT_SERIAL_STATUS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="LOT_SPLIT_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="LOT_MERGE_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="INVENTORY_CARRY_PENALTY" type="xs:decimal" nillable="true"/>
         <xs:element name="OPERATION_SLACK_PENALTY" type="xs:decimal" nillable="true"/>
         <xs:element name="FINANCING_ALLOWED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="EAM_ITEM_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="EAM_ACTIVITY_TYPE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="EAM_ACTIVITY_CAUSE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="EAM_ACT_NOTIFICATION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="EAM_ACT_SHUTDOWN_STATUS" type="xs:string" nillable="true"/>
         <xs:element name="DUAL_UOM_CONTROL" type="xs:decimal" nillable="true"/>
         <xs:element name="SECONDARY_UOM_CODE" type="xs:string" nillable="true"/>
         <xs:element name="DUAL_UOM_DEVIATION_HIGH" type="xs:decimal" nillable="true"/>
         <xs:element name="DUAL_UOM_DEVIATION_LOW" type="xs:decimal" nillable="true"/>
         <xs:element name="CONTRACT_ITEM_TYPE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="SUBSCRIPTION_DEPEND_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SERV_REQ_ENABLED_CODE" type="xs:string" nillable="true"/>
         <xs:element name="SERV_BILLING_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SERV_IMPORTANCE_LEVEL" type="xs:decimal" nillable="true"/>
         <xs:element name="PLANNED_INV_POINT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="LOT_TRANSLATE_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="DEFAULT_SO_SOURCE_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="CREATE_SUPPLY_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="SUBSTITUTION_WINDOW_CODE" type="xs:decimal" nillable="true"/>
         <xs:element name="SUBSTITUTION_WINDOW_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="IB_ITEM_INSTANCE_CLASS" type="xs:string" nillable="true"/>
         <xs:element name="CONFIG_MODEL_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="LOT_SUBSTITUTION_ENABLED" type="xs:string" nillable="true"/>
         <xs:element name="MINIMUM_LICENSE_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="EAM_ACTIVITY_SOURCE_CODE" type="xs:string" nillable="true"/>
         <xs:element name="LIFECYCLE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="CURRENT_PHASE_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="OBJECT_VERSION_NUMBER" type="xs:decimal" nillable="true"/>
         <xs:element name="TRACKING_QUANTITY_IND" type="xs:string" nillable="true"/>
         <xs:element name="ONT_PRICING_QTY_SOURCE" type="xs:string" nillable="true"/>
         <xs:element name="SECONDARY_DEFAULT_IND" type="xs:string" nillable="true"/>
         <xs:element name="OPTION_SPECIFIC_SOURCED" type="xs:decimal" nillable="true"/>
         <xs:element name="APPROVAL_STATUS" type="xs:string" nillable="true"/>
         <xs:element name="VMI_MINIMUM_UNITS" type="xs:decimal" nillable="true"/>
         <xs:element name="VMI_MINIMUM_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="VMI_MAXIMUM_UNITS" type="xs:decimal" nillable="true"/>
         <xs:element name="VMI_MAXIMUM_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="VMI_FIXED_ORDER_QUANTITY" type="xs:decimal" nillable="true"/>
         <xs:element name="SO_AUTHORIZATION_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="CONSIGNED_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="ASN_AUTOEXPIRE_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="VMI_FORECAST_TYPE" type="xs:decimal" nillable="true"/>
         <xs:element name="FORECAST_HORIZON" type="xs:decimal" nillable="true"/>
         <xs:element name="EXCLUDE_FROM_BUDGET_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="DAYS_TGT_INV_SUPPLY" type="xs:decimal" nillable="true"/>
         <xs:element name="DAYS_TGT_INV_WINDOW" type="xs:decimal" nillable="true"/>
         <xs:element name="DAYS_MAX_INV_SUPPLY" type="xs:decimal" nillable="true"/>
         <xs:element name="DAYS_MAX_INV_WINDOW" type="xs:decimal" nillable="true"/>
         <xs:element name="DRP_PLANNED_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="CRITICAL_COMPONENT_FLAG" type="xs:decimal" nillable="true"/>
         <xs:element name="CONTINOUS_TRANSFER" type="xs:decimal" nillable="true"/>
         <xs:element name="CONVERGENCE" type="xs:decimal" nillable="true"/>
         <xs:element name="DIVERGENCE" type="xs:decimal" nillable="true"/>
         <xs:element name="CONFIG_ORGS" type="xs:string" nillable="true"/>
         <xs:element name="CONFIG_MATCH" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE16" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE17" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE18" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE19" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE20" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE21" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE22" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE23" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE24" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE25" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE26" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE27" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE28" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE29" type="xs:string" nillable="true"/>
         <xs:element name="ATTRIBUTE30" type="xs:string" nillable="true"/>
         <xs:element name="CAS_NUMBER" type="xs:string" nillable="true"/>
         <xs:element name="CHILD_LOT_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="CHILD_LOT_PREFIX" type="xs:string" nillable="true"/>
         <xs:element name="CHILD_LOT_STARTING_NUMBER" type="xs:decimal" nillable="true"/>
         <xs:element name="CHILD_LOT_VALIDATION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="COPY_LOT_ATTRIBUTE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="DEFAULT_GRADE" type="xs:string" nillable="true"/>
         <xs:element name="EXPIRATION_ACTION_CODE" type="xs:string" nillable="true"/>
         <xs:element name="EXPIRATION_ACTION_INTERVAL" type="xs:decimal" nillable="true"/>
         <xs:element name="GRADE_CONTROL_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="HAZARDOUS_MATERIAL_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="HOLD_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="LOT_DIVISIBLE_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="MATURITY_DAYS" type="xs:decimal" nillable="true"/>
         <xs:element name="PARENT_CHILD_GENERATION_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PROCESS_COSTING_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PROCESS_EXECUTION_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PROCESS_QUALITY_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="PROCESS_SUPPLY_LOCATOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROCESS_SUPPLY_SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="PROCESS_YIELD_LOCATOR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="PROCESS_YIELD_SUBINVENTORY" type="xs:string" nillable="true"/>
         <xs:element name="RECIPE_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="RETEST_INTERVAL" type="xs:decimal" nillable="true"/>
         <xs:element name="CHARGE_PERIODICITY_CODE" type="xs:string" nillable="true"/>
         <xs:element name="REPAIR_LEADTIME" type="xs:decimal" nillable="true"/>
         <xs:element name="REPAIR_YIELD" type="xs:decimal" nillable="true"/>
         <xs:element name="PREPOSITION_POINT" type="xs:string" nillable="true"/>
         <xs:element name="REPAIR_PROGRAM" type="xs:decimal" nillable="true"/>
         <xs:element name="SUBCONTRACTING_COMPONENT" type="xs:decimal" nillable="true"/>
         <xs:element name="OUTSOURCED_ASSEMBLY" type="xs:decimal" nillable="true"/>
         <xs:element name="EGO_MASTER_ITEMS_DFF_CTX" type="xs:string" nillable="true"/>
         <xs:element name="GDSN_OUTBOUND_ENABLED_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="TRADE_ITEM_DESCRIPTOR" type="xs:string" nillable="true"/>
         <xs:element name="STYLE_ITEM_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="STYLE_ITEM_FLAG" type="xs:string" nillable="true"/>
         <xs:element name="LAST_SUBMITTED_NIR_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DEFAULT_MATERIAL_STATUS_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE11" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE12" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE13" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE14" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE15" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE16" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE17" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE18" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE19" type="xs:string" nillable="true"/>
         <xs:element name="GLOBAL_ATTRIBUTE20" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
