vive/7-ServiciosEBS/Productos/xsd/ProductosEBS.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/">
   <xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>
   <xs:element name="ProductosResponseVO" type="tns:ProductosResponseVO"/>
   <xs:element name="TipoResponseVO" type="tns:TipoResponseVO"/>
   <xs:element name="consultaInventario" type="tns:consultaInventario"/>
   <xs:element name="consultaInventarioResponse" type="tns:consultaInventarioResponse"/>
   <xs:element name="consultaInventarioAutomatica" type="tns:consultaInventarioAutomatica"/>
   <xs:element name="consultaInventarioAutomaticaResponse" type="tns:consultaInventarioAutomaticaResponse"/>
   <xs:element name="consultaInventarioSinBodegas" type="tns:consultaInventarioSinBodegas"/>
   <xs:element name="consultaInventarioSinBodegasResponse" type="tns:consultaInventarioSinBodegasResponse"/>
   <xs:element name="consultarProducto" type="tns:consultarProducto"/>
   <xs:element name="consultarProductoResponse" type="tns:consultarProductoResponse"/>
   <xs:element name="detalleProducto" type="tns:detalleProducto"/>
   <xs:element name="detalleProductoResponse" type="tns:detalleProductoResponse"/>
   <xs:element name="getMarcasPorLinea" type="tns:getMarcasPorLinea"/>
   <xs:element name="getMarcasPorLineaResponse" type="tns:getMarcasPorLineaResponse"/>
   <xs:element name="getModelPorMarca" type="tns:getModelPorMarca"/>
   <xs:element name="getModelPorMarcaResponse" type="tns:getModelPorMarcaResponse"/>
   <xs:element name="producto" type="tns:ProductoVO"/>
   <xs:element name="productosPendientesPorFacturar" type="tns:productosPendientesPorFacturar"/>
   <xs:element name="productosPendientesPorFacturarResponse" type="tns:productosPendientesPorFacturarResponse"/>
   <xs:element name="productosVendidos" type="tns:productosVendidos"/>
   <xs:element name="productosVendidosResponse" type="tns:productosVendidosResponse"/>
   <xs:element name="tipo" type="tns:TipoVO"/>
   <xs:element name="productoCotizableAutomaticamente" type="tns:productoCotizableAutomaticamente"/>
   <xs:element name="productoCotizableAutomaticamenteResponse" type="tns:productoCotizableAutomaticamenteResponse"/>
   <xs:complexType name="productoCotizableAutomaticamente">
      <xs:sequence>
         <xs:element name="inventory_item_id" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productoCotizableAutomaticamenteResponse">
      <xs:sequence>
         <xs:element name="productos" type="tns:ProductoVO" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productosPendientesPorFacturar">
      <xs:sequence>
         <xs:element name="nitClientes" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productosPendientesPorFacturarResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductosResponseVO">
      <xs:sequence>
         <xs:element name="productos" type="tns:ProductoVO" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="status" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProductoVO">
      <xs:sequence>
         <xs:element name="codigo" type="xs:string" minOccurs="0"/>
         <xs:element name="nombre" type="xs:string" minOccurs="0"/>
         <xs:element name="division" type="xs:string" minOccurs="0"/>
         <xs:element name="linea" type="xs:string" minOccurs="0"/>
         <xs:element name="tecnologia" type="xs:string" minOccurs="0"/>
         <xs:element name="familia" type="xs:string" minOccurs="0"/>
         <xs:element name="marca" type="xs:string" minOccurs="0"/>
         <xs:element name="cantidad" type="xs:string" minOccurs="0"/>
         <xs:element name="precioLista" type="xs:string" minOccurs="0"/>
         <xs:element name="moneda" type="xs:string" minOccurs="0"/>
         <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
         <xs:element name="modelo" type="xs:string" minOccurs="0"/>
         <xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
         <xs:element name="valorUnitario" type="xs:string" minOccurs="0"/>
         <xs:element name="bodega" type="xs:string" minOccurs="0"/>
         <xs:element name="unidad" type="xs:string" minOccurs="0"/>
         <xs:element name="precioListaSinFormato" type="xs:string" minOccurs="0"/>
         <xs:element name="linkCaracteristicas" type="xs:string" minOccurs="0"/>
         <xs:element name="linkAccesorios" type="xs:string" minOccurs="0"/>
         <xs:element name="linkVideo" type="xs:string" minOccurs="0"/>
         <xs:element name="linkImg" type="xs:string" minOccurs="0"/>
         <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
         <xs:element name="fecha" type="xs:string" minOccurs="0"/>
         <xs:element name="asesor" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ImocomWebFault">
      <xs:sequence>
         <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
         <xs:element name="faultString" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultarProducto">
      <xs:sequence>
         <xs:element name="idOportunidad" type="xs:string" minOccurs="0"/>
         <xs:element name="cotizable" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultarProductoResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventario">
      <xs:sequence>
         <xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
         <xs:element name="marca" type="xs:string" minOccurs="0"/>
         <xs:element name="modelo" type="xs:string" minOccurs="0"/>
         <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
         <xs:element name="cotizable" type="xs:string" minOccurs="0"/>
         <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
         <xs:element name="subinventario" type="xs:string" minOccurs="0"/>
         <xs:element name="linea" type="xs:string" minOccurs="0"/>
         <xs:element name="catalogo" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventarioResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventarioAutomatica">
      <xs:sequence>
         <xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
         <xs:element name="marca" type="xs:string" minOccurs="0"/>
         <xs:element name="modelo" type="xs:string" minOccurs="0"/>
         <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
         <xs:element name="cotizable" type="xs:string" minOccurs="0"/>
         <xs:element name="organizationId" type="xs:string" minOccurs="0"/>
         <xs:element name="subinventario" type="xs:string" minOccurs="0"/>
         <xs:element name="linea" type="xs:string" minOccurs="0"/>
         <xs:element name="catalogo" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventarioAutomaticaResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventarioSinBodegas">
      <xs:sequence>
         <xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
         <xs:element name="marca" type="xs:string" minOccurs="0"/>
         <xs:element name="modelo" type="xs:string" minOccurs="0"/>
         <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultaInventarioSinBodegasResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getModelPorMarca">
      <xs:sequence>
         <xs:element name="idMarca" type="xs:string" minOccurs="0"/>
         <xs:element name="linea" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getModelPorMarcaResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:TipoResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TipoResponseVO">
      <xs:sequence>
         <xs:element name="tipos" type="tns:TipoVO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TipoVO">
      <xs:sequence>
         <xs:element name="idTipo" type="xs:string" minOccurs="0"/>
         <xs:element name="nombre" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalleProducto">
      <xs:sequence>
         <xs:element name="idProducto" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="detalleProductoResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMarcasPorLinea">
      <xs:sequence>
         <xs:element name="linea" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMarcasPorLineaResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:TipoResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productosVendidos">
      <xs:sequence>
         <xs:element name="nitClientes" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="productosVendidosResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:ProductosResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
