vive/7-ServiciosEBS/NotasEBS/xsd/NotasWSEBS.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/">
  <xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>
  <xs:element name="NotasResponseVO" type="tns:NotasResponseVO"/>
  <xs:element name="consultaAsesoresVisita" type="tns:consultaAsesoresVisita"/>
  <xs:element name="consultaAsesoresVisitaResponse"
              type="tns:consultaAsesoresVisitaResponse"/>
  <xs:element name="consultarNota" type="tns:consultarNota"/>
  <xs:element name="consultarNotaResponse" type="tns:consultarNotaResponse"/>
  <xs:element name="consultarNotaXNit" type="tns:consultarNotaXNit"/>
  <xs:element name="consultarNotaXNitResponse"
              type="tns:consultarNotaXNitResponse"/>
  <xs:element name="nota" type="tns:notaVO"/>
  <xs:complexType name="consultarNota">
    <xs:sequence>
      <xs:element name="idOportunidad" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNotaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:NotasResponseVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NotasResponseVO">
    <xs:sequence>
      <xs:element name="notas" type="tns:notaVO" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notaVO">
    <xs:sequence>
      <xs:element name="idNota" type="xs:string" minOccurs="0"/>
      <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
      <xs:element name="fechaCreacion" type="xs:string" minOccurs="0"/>
      <xs:element name="autor" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoNota" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreOportunidad" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImocomWebFault">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
      <xs:element name="faultString" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaAsesoresVisita">
    <xs:sequence>
      <xs:element name="nit" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaAsesoresVisitaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:NotasResponseVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNotaXNit">
    <xs:sequence>
      <xs:element name="nit" type="xs:string" minOccurs="0"/>
      <xs:element name="asesor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarNotaXNitResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:NotasResponseVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>