vive/7-ServiciosEBS/Cartera/xsd/CarteraEBS.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/">
  <xs:element name="CarteraResponseVO" type="tns:CarteraResponseVO"/>
  <xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>
  <xs:element name="cartera" type="tns:CarteraVO"/>
  <xs:element name="consultaDatosCartera" type="tns:consultaDatosCartera"/>
  <xs:element name="consultaDatosCarteraResponse"
              type="tns:consultaDatosCarteraResponse"/>
  <xs:element name="consultaFacturasCartera"
              type="tns:consultaFacturasCartera"/>
  <xs:element name="consultaFacturasCarteraResponse"
              type="tns:consultaFacturasCarteraResponse"/>
  <xs:element name="factura" type="tns:FacturaVO"/>
  <xs:complexType name="consultaDatosCartera">
    <xs:sequence>
      <xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
      <xs:element name="idAsesor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDatosCarteraResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:CarteraResponseVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarteraResponseVO">
    <xs:sequence>
      <xs:element name="carteras" type="tns:CarteraVO" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="facturas" type="tns:FacturaVO" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarteraVO">
    <xs:sequence>
      <xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
      <xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
      <xs:element name="cupoCredito" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoCliente" type="xs:string" minOccurs="0"/>
      <xs:element name="cupoCreditoDisponible" type="xs:string" minOccurs="0"/>
      <xs:element name="totalCartera" type="xs:string" minOccurs="0"/>
      <xs:element name="totalCarteraAsesor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacturaVO">
    <xs:sequence>
      <xs:element name="idFactura" type="xs:string" minOccurs="0"/>
      <xs:element name="fechaVencimiento" type="xs:string" minOccurs="0"/>
      <xs:element name="nroDiasVencimiento" type="xs:string" minOccurs="0"/>
      <xs:element name="valorFactura" type="xs:string" minOccurs="0"/>
      <xs:element name="moneda" type="xs:string" minOccurs="0"/>
      <xs:element name="valorVencido" type="xs:string" minOccurs="0"/>
      <xs:element name="centroCosto" type="xs:string" minOccurs="0"/>
      <xs:element name="valorPorVencer" type="xs:string" minOccurs="0"/>
      <xs:element name="asesor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImocomWebFault">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
      <xs:element name="faultString" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaFacturasCartera">
    <xs:sequence>
      <xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
      <xs:element name="idAsesor" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaFacturasCarteraResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:CarteraResponseVO" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>