vive/7-ServiciosEBS/Eventos/xsd/EventosEBS.xsd

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<xs:schema version="1.0"
           targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
           xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EventoResponseVO" type="tns:EventoResponseVO"/>
   <xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>
   <xs:element name="agendarEvento" type="tns:agendarEvento"/>
   <xs:element name="agendarEventoResponse" type="tns:agendarEventoResponse"/>
   <xs:complexType name="agendarEvento">
      <xs:sequence>
         <xs:element name="correoOrigen" type="xs:string" minOccurs="0"/>
         <xs:element name="titulo" type="xs:string" minOccurs="0"/>
         <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
         <xs:element name="ubicacion" type="xs:string" minOccurs="0"/>
         <xs:element name="correosInvitados" type="xs:string" minOccurs="0"/>
         <xs:element name="fechaHoraInicio" type="xs:string" minOccurs="0"/>
         <xs:element name="fechaHoraFinalizacion" type="xs:string"
                     minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="agendarEventoResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:EventoResponseVO" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EventoResponseVO">
      <xs:sequence>
         <xs:element name="resultadoOperacion" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ImocomWebFault">
      <xs:sequence>
         <xs:element name="faultCode" type="xs:string" minOccurs="0"/>
         <xs:element name="faultString" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>

