vive/7-ServiciosEBS/Oportunidades/OportunidadesEBS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="OportunidadesEBS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/OportunidadesEBS.xsd"/>
    </xsd:schema>
  </types>
  <message name="detalleOportunidad">
    <part name="parameters" element="tns:detalleOportunidad"/>
  </message>
  <message name="detalleOportunidadResponse">
    <part name="parameters" element="tns:detalleOportunidadResponse"/>
  </message>
  <message name="ImocomWebserviceException">
    <part name="fault" element="tns:ImocomWebFault"/>
  </message>
  <message name="oportunidadesClienteFiltros">
    <part name="parameters" element="tns:oportunidadesClienteFiltros"/>
  </message>
  <message name="oportunidadesClienteFiltrosResponse">
    <part name="parameters" element="tns:oportunidadesClienteFiltrosResponse"/>
  </message>
  <message name="oportunidadesVisitas">
    <part name="parameters" element="tns:oportunidadesVisitas"/>
  </message>
  <message name="oportunidadesVisitasResponse">
    <part name="parameters" element="tns:oportunidadesVisitasResponse"/>
  </message>
  <message name="oportunidadesNombreEtapa">
    <part name="parameters" element="tns:oportunidadesNombreEtapa"/>
  </message>
  <message name="oportunidadesNombreEtapaResponse">
    <part name="parameters" element="tns:oportunidadesNombreEtapaResponse"/>
  </message>
  <message name="oportunidadesPorIds">
    <part name="parameters" element="tns:oportunidadesPorIds"/>
  </message>
  <message name="oportunidadesPorIdsResponse">
    <part name="parameters" element="tns:oportunidadesPorIdsResponse"/>
  </message>
  <message name="oportunidadesNombreEtapaEstado">
	<part name="parameters" element="tns:oportunidadesNombreEtapaEstado"/>
  </message>
  <message name="oportunidadesNombreEtapaEstadoResponse">
	<part name="parameters" element="tns:oportunidadesNombreEtapaEstadoResponse"/>
  </message>
  <portType name="IOportunidadesEBS">
    <operation name="detalleOportunidad">
      <input message="tns:detalleOportunidad"/>
      <output message="tns:detalleOportunidadResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="oportunidadesClienteFiltros">
      <input message="tns:oportunidadesClienteFiltros"/>
      <output message="tns:oportunidadesClienteFiltrosResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="oportunidadesVisitas">
      <input message="tns:oportunidadesVisitas"/>
      <output message="tns:oportunidadesVisitasResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="oportunidadesNombreEtapa">
      <input message="tns:oportunidadesNombreEtapa"/>
      <output message="tns:oportunidadesNombreEtapaResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="oportunidadesPorIds">
      <input message="tns:oportunidadesPorIds"/>
      <output message="tns:oportunidadesPorIdsResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
	<operation name="oportunidadesNombreEtapaEstado">
		<input message="tns:oportunidadesNombreEtapaEstado"/>
		<output message="tns:oportunidadesNombreEtapaEstadoResponse"/>
		<fault message="tns:ImocomWebserviceException" name="ImocomWebserviceException"/>
	</operation>
  </portType>
  <binding name="OportunidadesEBSServicePortBinding"
           type="tns:IOportunidadesEBS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <operation name="detalleOportunidad">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oportunidadesClienteFiltros">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oportunidadesVisitas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oportunidadesNombreEtapa">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oportunidadesPorIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
	<operation name="oportunidadesNombreEtapaEstado">
		<soap:operation soapAction=""/>
		<input>
			<soap:body use="literal"/>
		</input>
		<output>
			<soap:body use="literal"/>
		</output>
		<fault name="ImocomWebserviceException">
			<soap:fault name="ImocomWebserviceException" use="literal"/>
		</fault>
	</operation>
  </binding>
  <service name="OportunidadesEBS">
    <port name="OportunidadesEBSServicePort"
          binding="tns:OportunidadesEBSServicePortBinding">
      <soap:address location="OportunidadesEBS.wsdl"/>
    </port>
  </service>
</definitions>