vive/7-ServiciosEBS/NotasEBS/NotasWSEBS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="NotasWSEBS">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
                  schemaLocation="xsd/NotasWSEBS.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarNota">
    <part name="parameters" element="tns:consultarNota"/>
  </message>
  <message name="consultarNotaResponse">
    <part name="parameters" element="tns:consultarNotaResponse"/>
  </message>
  <message name="ImocomWebserviceException">
    <part name="fault" element="tns:ImocomWebFault"/>
  </message>
  <message name="consultarNotaXNit">
    <part name="parameters" element="tns:consultarNotaXNit"/>
  </message>
  <message name="consultarNotaXNitResponse">
    <part name="parameters" element="tns:consultarNotaXNitResponse"/>
  </message>
  <message name="consultaAsesoresVisita">
    <part name="parameters" element="tns:consultaAsesoresVisita"/>
  </message>
  <message name="consultaAsesoresVisitaResponse">
    <part name="parameters" element="tns:consultaAsesoresVisitaResponse"/>
  </message>
  <portType name="INotasWSEBS">
    <operation name="consultarNota">
      <input message="tns:consultarNota"/>
      <output message="tns:consultarNotaResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="consultarNotaXNit">
      <input message="tns:consultarNotaXNit"/>
      <output message="tns:consultarNotaXNitResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
    <operation name="consultaAsesoresVisita">
      <input message="tns:consultaAsesoresVisita"/>
      <output message="tns:consultaAsesoresVisitaResponse"/>
      <fault message="tns:ImocomWebserviceException"
             name="ImocomWebserviceException"/>
    </operation>
  </portType>
  <binding name="NotasWSEBSServicePortBinding" type="tns:INotasWSEBS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"/>
    <operation name="consultarNota">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultarNotaXNit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
    <operation name="consultaAsesoresVisita">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ImocomWebserviceException">
        <soap:fault name="ImocomWebserviceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="NotasWSEBS">
    <port name="NotasWSEBSServicePort"
          binding="tns:NotasWSEBSServicePortBinding">
      <soap:address location="NotasWSEBS.wsdl"/>
    </port>
  </service>
</definitions>