vive/7-ServiciosEBS/Clientes/xsd/ClientesEBS.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/">

<xs:element name="ClienteResponseVO" type="tns:ClienteResponseVO"/>

<xs:element name="ImocomWebFault" nillable="true" type="tns:ImocomWebFault"/>

<xs:element name="buscarProductoTest" type="tns:buscarProductoTest"/>

<xs:element name="buscarProductoTestResponse" type="tns:buscarProductoTestResponse"/>

<xs:element name="cliente" type="tns:ClienteVO"/>

<xs:element name="consultaClienteNit" type="tns:consultaClienteNit"/>

<xs:element name="consultaClienteNitResponse" type="tns:consultaClienteNitResponse"/>

<xs:element name="consultarContactosPorCliente" type="tns:consultarContactosPorCliente"/>

<xs:element name="consultarContactosPorClienteResponse" type="tns:consultarContactosPorClienteResponse"/>

<xs:element name="contacto" type="tns:ContactoVO"/>

<xs:element name="detalleClienteNit" type="tns:detalleClienteNit"/>

<xs:element name="detalleClienteNitResponse" type="tns:detalleClienteNitResponse"/>

<xs:element name="geoConsulta" type="tns:geoConsulta"/>

<xs:element name="geoConsultaResponse" type="tns:geoConsultaResponse"/>

<xs:element name="pruebaEliminar" type="tns:pruebaEliminar"/>

<xs:element name="pruebaEliminarResponse" type="tns:pruebaEliminarResponse"/>

<xs:complexType name="geoConsulta">
<xs:sequence>
<xs:element name="idAsesor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geoConsultaResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClienteResponseVO">
<xs:sequence>
<xs:element name="clientes" type="tns:ClienteVO" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="contactos" type="tns:ContactoVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClienteVO">
<xs:sequence>
<xs:element name="partyId" type="xs:string" minOccurs="0"/>
<xs:element name="partyNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="urlCliente" type="xs:string" minOccurs="0"/>
<xs:element name="correoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="direccionPpal" type="xs:string" minOccurs="0"/>
<xs:element name="telefonoPpal" type="xs:string" minOccurs="0"/>
<xs:element name="tipoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="diasSinVisita" type="xs:int"/>
<xs:element name="nivelAtencion" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="nombreContactoPpal" type="xs:string" minOccurs="0"/>
<xs:element name="telefonoContanctoPpal" type="xs:string" minOccurs="0"/>
<xs:element name="correoContactoPpal" type="xs:string" minOccurs="0"/>
<xs:element name="coordClienteLat" type="xs:string" minOccurs="0"/>
<xs:element name="coordClienteLong" type="xs:string" minOccurs="0"/>
<xs:element name="perteneceAsesor" type="xs:boolean"/>
<xs:element name="diasSinVisitaMostrar" type="xs:string" minOccurs="0"/>
<xs:element name="semaforo" type="xs:string" minOccurs="0"/>
<xs:element name="indicativo" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoGerenteGeneral" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoRepresentanteLegal" type="xs:string" minOccurs="0"/>
<xs:element name="indicativoContacto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ContactoVO">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="cargo" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImocomWebFault">
<xs:sequence>
<xs:element name="faultCode" type="xs:string" minOccurs="0"/>
<xs:element name="faultString" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoTest">
<xs:sequence>
<xs:element name="field1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarProductoTestResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarContactosPorCliente">
<xs:sequence>
<xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarContactosPorClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleClienteNit">
<xs:sequence>
<xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleClienteNitResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pruebaEliminar">
<xs:sequence>
<xs:element name="field1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pruebaEliminarResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaClienteNit">
<xs:sequence>
<xs:element name="nitCliente" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
<xs:element name="idAsesor" type="xs:string" minOccurs="0"/>
<xs:element name="tipoCliente" type="xs:string" minOccurs="0"/>
<xs:element name="diasSinVisita" type="xs:string" minOccurs="0"/>
<xs:element name="clienesPropios" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaClienteNitResponse">
<xs:sequence>
<xs:element name="return" type="tns:ClienteResponseVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>