vive/7-ServiciosEBS/Cartera/CarteraEBS.wsdl

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<definitions targetNamespace="http://com.imocom.intelcom.ws.ebs.interfaces/"
             name="CarteraEBS"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://com.imocom.intelcom.ws.ebs.interfaces/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema>
         <xsd:import schemaLocation="xsd/CarteraEBS.xsd"
                     namespace="http://com.imocom.intelcom.ws.ebs.interfaces/"/>
      </xsd:schema>
   </types>
   <message name="consultaDatosCartera">
      <part name="parameters" element="tns:consultaDatosCartera"/>
   </message>
   <message name="consultaDatosCarteraResponse">
      <part name="parameters" element="tns:consultaDatosCarteraResponse"/>
   </message>
   <message name="ImocomWebserviceException">
      <part name="fault" element="tns:ImocomWebFault"/>
   </message>
   <message name="consultaFacturasCartera">
      <part name="parameters" element="tns:consultaFacturasCartera"/>
   </message>
   <message name="consultaFacturasCarteraResponse">
      <part name="parameters" element="tns:consultaFacturasCarteraResponse"/>
   </message>
   <portType name="ICarteraEBS">
      <operation name="consultaDatosCartera">
         <input message="tns:consultaDatosCartera"/>
         <output message="tns:consultaDatosCarteraResponse"/>
         <fault message="tns:ImocomWebserviceException"
                name="ImocomWebserviceException"/>
      </operation>
      <operation name="consultaFacturasCartera">
         <input message="tns:consultaFacturasCartera"/>
         <output message="tns:consultaFacturasCarteraResponse"/>
         <fault message="tns:ImocomWebserviceException"
                name="ImocomWebserviceException"/>
      </operation>
   </portType>
   <binding name="CarteraEBSServicePortBinding" type="tns:ICarteraEBS">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                    style="document"/>
      <operation name="consultaDatosCartera">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="ImocomWebserviceException">
            <soap:fault name="ImocomWebserviceException" use="literal"/>
         </fault>
      </operation>
      <operation name="consultaFacturasCartera">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="ImocomWebserviceException">
            <soap:fault name="ImocomWebserviceException" use="literal"/>
         </fault>
      </operation>
   </binding>
   <service name="CarteraEBS">
      <port name="CarteraEBSServicePort"
            binding="tns:CarteraEBSServicePortBinding">
         <soap:address location="CarteraEBS.wsdl"/>
      </port>
   </service>
</definitions>
 

